<h2>Edit fighter</h2>
<%= form_with url: "/fighters/#{@fighter.id}", method: :patch, local: true do |form| %>
<%= form.label :name%>
<%= form.text_field :name %><br>
<%= form.label :rank %>
<%= form.text_field :rank %><br>
<%= form.label :rival%>
<%= form.text_field :rival%><br>
<%= form.label :style %>
<%= form.text_field :style %><br>
<%= form.submit "Edit Your Fighter" %>
<% end %>