<h1>Welcome To The Backyard Arena!</h1><br>
<%= link_to "Moveslist", "/moves" %>&emsp;
<%= link_to "Fighters", "/fighters" %>&emsp;
<%= link_to "Create-A-Fighter", "/fighters/new" %>
<h3>- Choose Your Fighter Below -</h3>
<% @fighters.each_with_index do |fighter, index| %><br><br>
<div id="fighter-<%= index %>">
<b><%= fighter.name %></b>
<p>Style: <%= fighter.style %></p>
<p>Created at: <%= fighter.created_at %></p>
</div>
<% end %>