  <h2>Create Your Fighter:</h2>
<%= form_with url: "/fighters", method: :post, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :rival %>
<%= form.text_field :rival %>
<%= form.label :rank %>
<%= form.text_field :rank %>
<%= form.label :style %>
<%= form.text_field :style %>
<%= form.submit "Create Your Fighter" %>
<% end %>