<h1><%= @fighter.name %></h1>
<%= link_to "Moveslist", "/moves" %>&emsp;
<%= link_to "Fighters", "/fighters" %>&emsp;
<%= link_to "Edit Fighter", "/fighters/#{@fighter.id}/edit" %><br><br>
<b>Style: <%= @fighter.style %></b>
<p>Rank: <%= @fighter.rank %></p>
<p>Rival: <%= @fighter.rival %></p>
<p>Total Moves: <%= @fighter.total_moves %></p>
<%= link_to @fighter.name + "'s Movelist", "/fighters/#{@fighter.id}/moves" %>
