<h1>Fighting Game Movelist Index</h1>
<%= link_to "Moveslist", "/moves" %>&emsp;
<%= link_to "Fighters", "/fighters" %>&emsp;
<%= link_to "Best Moves", "/moves/best_moves" %><br><br>
<% @moves.each_with_index do |move, index| %>
<div id="move-<%= index %>">
<b><%= move.name %></b>&emsp;&emsp;<%= link_to "Edit #{move.name}", "/moves/#{move.id}/edit" %>
<p><%= move.fighter.name %></p>
<p>Grade: <%= move.grade %></p><br>
</div>
<% end %>

