<h1><%= @move.fighter.name %>'s <%= @move.name %> Attack</h1>
<h3><%= @move.name %></h3>
<p>Power: <%= @move.power %></p>
<p>Speed: <%= @move.speed %></p>
<p>Grade: <%= @move.grade %></p>
<p>Top Tier: <%= @move.top_tier %></p>