<h1><%= @fighter.name %>'s Movelist</h1>
<%= link_to "Moveslist", "/moves" %>&emsp;
<%= link_to "Fighters", "/fighters" %>&emsp;
<%= link_to "New Move", "/fighters/#{@fighter.id}/moves/new" %>&emsp;
<%= link_to "Sort Alphabetically", "/fighters/#{@fighter.id}/moves?sort=name" %><br><br>
<%= form_tag "/fighters/#{@fighter.id}/moves", method: :get do %>
  <%= label_tag :power_level, "Power Levels Search" %>
  <%= number_field_tag :power_level, '0', min: '' %>
  <%= submit_tag "Search", name: "Power Levels At / Above " %><br><br>
<% end %>
<% @moves.each do |move| %>
<b><%= move.name %></b>&emsp;&emsp;<%= link_to "Edit #{move.name}", "/moves/#{move.id}/edit" %>
<p>Power: <%= move.power %></p>
<p>Speed: <%= move.speed %></p>
<p>Grade: <%= move.grade %></p>
<p>Top Tier: <%= move.top_tier %></p>
<%= button_to "Delete #{move.name}", "/moves/#{move.id}", method: :delete %><br><br>
<% end  %>