<%= form_with url: "/fighters/#{@fighter.id}/moves", method: :post, local: true do |form| %>
<h1>Create New Move</h1>
<%= form.label :name %>
<%= form.text_field :name %><br>
<%= form.label :power %>
<%= form.text_field :power%><br>
<%= form.label :speed %>
<%= form.text_field :speed%><br>
<%= form.label :grade %>
<%= form.text_field :grade%><br>
<%= form.label :top_tier, "Top Tier" %>
<%= form.text_field :top_tier%><br>
<%= form.submit "Create New Move" %>
<% end %>